h1 {
font-family: Lucida Sans Unicode;
border-bottom:1px solid silver;
}
textarea {
	width:100%;
	padding:3px;
	border:1px solid #777777;
}
button {
	width: 100%;
}
.row {
margin:15px 0;
}
.row label {
display:inline-block;
float:left;
width:150px;
font-family: Lucida Sans Unicode; 
}
.row input[type=text] {
width:100%;
padding:3px;
border:1px solid #777777;
}

/*.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
Bootstrap has clearfix
*/
.large {
	font-size: 24px;
}
#page-wrapper {

/*width:500px;
position:absolute;
top:40px;
left:50%;
margin-left:-250px;

better define width and then use auto margin on sides to get container in middle.
not absolute with 50% from left and then subtract width/2


*/
padding:15px;
}
#table-wrapper {
	padding: 15px;
	min-width: 500px;
}
#heading {
font-size: 24px;
text-align:center
}
#errors {
border:1px solid #777777;
padding:3px;
display:none;
color:#EB8282;
}


@media only screen and (min-width: 400px) {
  	.row input[type=text] {
  		width: 200px;
  	}
  	textarea {
		width:200px;
	}
	#page-wrapper {
		width:500px;
	}
	button{
		width: 100px;
	}
}

